
body {
  font-family: Helvetica;
  font-style: normal;
}

p {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.25rem;
}

section h3 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 36px;
}

.icon-check {
  background-color: #cfd4ed;
  border-radius: 50%;
  color: #0d28a6;
  padding: 3px;
}


.navbar {
  background-color: #f1f3ff;
}

@media (min-width: 992px) {
  .navbar-nav li a {
    color: black !important;
    font-size: 14px;
    margin: 0 10px 0 10px;
    line-height: 20px;
    font-weight: 400;
  }
}

.navbar-nav .nav-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}


.jumbotron {
  background-color: #f1f3ff;
  height: 400px;
}

.jumbotron h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}

@media screen and (min-width: 1285px) {
  .img-car {
    margin-left: 100px;
    width: 704px;
    height: 407px;
  }
}

.services li {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 576px) {
  .services img {
    width: 15rem;
  }
  .services {
    margin-top: 140px;
  }
}


.why-us{
  margin-top: 20px;
  margin-bottom: 5px;
}



@media screen and (max-width: 767px) {
  .title-why-us {
    text-align: center;
  }
  .card-why-us {
    margin-bottom: 16px;
  }
}


.why-us .card-body h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}


.why-us .card-body {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  transition: .5s ease;
  overflow: hidden;
}

/* custom yellow transition */

.why-us .card-body.yellow:hover * {
  z-index: 9;
  color: white;
}

.why-us .card-body.yellow::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #F9CC00;
  transition: .5s ease;
  clip-path: circle(7% at 32.3px 35.3px);
}

.why-us .card-body:hover.yellow::before {
  clip-path: circle(100%);
  border-radius: 5px;
}



/* custom red transition */

.why-us .card-body.red:hover * {
  z-index: 9;
  color: white;
}

.why-us .card-body.red::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  border-radius: 1px;
  width: 100%;
  height: 100%;
  background-color: #FA2C5A;
  transition: .5s ease;
  clip-path: circle(7% at 32.3px 34.3px);
}

.why-us .card-body:hover.red::before {
  clip-path: circle(100%);
  border-radius: 5px;
}

/* btn-light-green */
.btn-light-green {
  background-color: #5cb85f;
  color: #ffffff;
  border-radius: 2px;
}
.btn.btn-success {
  border: 1px solid #5CB85F;
  color: #ffffff;
  box-shadow: 1px 10px 30px -10px #5CB85F;
  display: inline-block;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn.btn-success:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5CB85F;
  z-index: -2;
}

.btn.btn-success:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ffffff;
  transition: all .3s;
  z-index: -1;
}

.btn.btn-success:hover {
  color: #5CB85F;
}

.btn.btn-success:hover:before {
  width: 100%;
}
/* custom blue transition */


@media screen and (max-width: 576px) {
  .why-us .judul-wu{
    text-align: center;
  }
}
.why-us .card-body.blue:hover * {
  z-index: 9;
  color: white;
}

.why-us .card-body.blue::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  border-radius: 1px;
  width: 100%;
  height: 100%;
  background-color: #0D28A6;
  transition: .5s ease;
  clip-path: circle(7% at 32.3px 34.3px);
}

.why-us .card-body:hover.blue::before {
  clip-path: circle(100%);
  border-radius: 5px;
}

/* end */
.bi.bi-star-fill {
  color: #F9CC00;
}
/* custom green transition */

.why-us .card-body.green:hover * {
  z-index: 9;
  color: white;
}

.why-us .card-body.green::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  border-radius: 1px;
  width: 100%;
  height: 100%;
  background-color: #5CB85F;
  transition: .5s ease;
  clip-path: circle(7% at 32.3px 35.3px);
}

.why-us .card-body:hover.green::before {
  clip-path: circle(100%);
  border-radius: 5px;
}

.footer .bi {
  background-color: #0D28A6;
  margin-right: 16px;
  border-radius: 15px;
  padding: 5px 7px;
  font-size: 18px;
  color: white;
  border: 1px solid #0D28A6;
}

.footer .col-md-2 a {
  color: black;
}

.footer .col-md-2 a:hover {
  color: #0D28A6;
}

.footer .bi:hover {
  background-color: white;
  border: 1px solid #0D28A6;
  color: #0D28A6;
  transition: .5s ease;
}

.why-us .card-body p:nth-child(2) {
  margin-top: 5%;
  font-weight: 600;
  font-size: 17px;
}

.why-us .card-body .bi {
  color: white;
  font-size: 20px;
  border-radius: 20px;
  padding: 3px 6px;
  z-index: 1;
}


/* End */

/* Testi */
/* Owl Carousel */

@media screen and (max-width: 576px) {
  .testi{
    text-align: center;
  }
  .testi .owl-carousel .item {
    margin-right: 10px;
    margin-left: 10px;
  }

  .testi .owl-carousel .item .bintang {
    text-align: center;
  }

  .testi .owl-carousel .item img {
    width: 5rem;
    margin: auto;
  }
}

.testi .item {
  background-color: #f1f3ff;
  padding: 50px 30px;
  border-radius: 8px;
}
/* End */

.testi button {
  width: 32px;
  height: 32px;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
  font-size: 6px;
}
/* End */

.testi button.btn-left {
  background-color: #ffffff;
  border: 1px solid #222222;
}
/* End */

.testi .star {
  font-size: 30px;
  color: #f9cc00;
}
/* End */

/* Getting Started */

@media screen and (max-width: 576px) {
  .getting-started .item-jumbo {
    height: 25rem;
  }
  .getting-started .pesan {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.item-jumbo {
  border-radius: 20px;
  background-color: #0d28a6;
  color: #ffffff;
  height: 326px;
}
/* End */

.getting-started h2 {
  font-weight: bold;
  line-height: 150%;
}
/* End */

/* FAQ */
.faq .accordion button {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 576px) {
  .faq{
    font-size: 24px;
  }
  .judul-faq {
    text-align: center;
  }
}
/* End */

/* Sidebar */
@media (min-width: 992px) {
  .offcanvas {
    visibility: visible;
    position: relative;
    background: none;
    border: none;
  }
}
@media (max-width: 992px) {
  .offcanvas {
    width: 50% !important;
  }
  .offcanvas-start-lg {
    top: 0;
    right: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
  }
  .offcanvas-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }
  .navbar-nav li a {
    color: black !important;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
/* End */
